{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>चित्रकला बजार</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="logo">
        <h2>चित्रकला बजार</h2>
    </div>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Paintings</a></li>
        <li><a href="#">Artists</a></li>
        <li><a href="auth/login">Login</a></li>
    </ul>
</nav>

<!-- Page Content -->
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="footer">
    <p>© 2025 चित्रकला बजार | Preserving Nepali Art Digitally</p>
</footer>

</body>
</html>